<%- include('../partials/header', { akunUser:'', divisi: '', karyawan:'active', dashboard: '', loginUser} ) %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">List Karyawan</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <% if(loginUser.role !== "OP"){ %>
            <a href="/karyawan/tambah-karyawan" class="btn btn-secondary mb-3"><i class="fas fa-plus"></i>Tambah
                Karyawan</a><br>
            <% } %>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dataTables" class="table table-bordered table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama </th>
                                        <th>Status</th>
                                        <th>Detail</th>
                                        <% if(loginUser.role !== "OP"){ %>
                                        <th>Ubah Data</th>
                                        <th>Non-Aktif</th>
                                        <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% karyawans.forEach((karyawan, i) => { %>
                                    <tr>
                                        <td> <%= i + 1 %> </td>
                                        <td> <%= karyawan.nama %> </td>
                                        <td> <%= karyawan.statuskaryawan %></td>
                                        <td><a href="/karyawan/<%= karyawan.nama %>" class="btn btn-info"><i
                                                    class="fas fa-clipboard-list"></i></i>Detail</a>
                                        </td>
                                        <% if(loginUser.role !== "OP"){ %>
                                        <td><a href="/karyawan/edit/<%= karyawan._id %>" class="btn btn-primary"><i
                                                    class="far fa-edit"></i>Ubah</a></td>
                                        <td><button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#modal<%= karyawan.id %>"><i
                                                    class="fas fa-exclamation-triangle"></i>Non-Aktif</button>
                                            <%- include('nonaktif.ejs', { karyawan } ) %>
                                        </td>
                                        <% } %>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>